- if current_user.try :admin?
  %p
    .clearfix
      .pull-right
        = link_to 'create article', new_article_path, class: 'btn btn-primary'
%ul.unstyled
  = render @articles
= paginate @articles, theme: 'twitter-bootstrap', pagination_class: 'pagination-small pagination-centered'