.row-fluid
  .span10
    %h4
    = render 'shared/markdown_examples'
  .span2
    .well
      %h4.muted
        Related Videos
      = render 'shared/video_list', videos: owner.videos
      %h4.muted
        Other Videos
      = render 'shared/video_list', videos: Video.all - owner.videos