= form_tag(submit_path) do
  %p
    = email_field_tag :from, nil, placeholder: 'email@domain.com'
  %p
    = text_area_tag :text, nil, placeholder: 'message ...'
  = submit_tag 'Submit', class: 'btn btn-primary'