- if current_user.try :admin?
  %p
    .clearfix
      .pull-right
        = link_to 'create project', new_project_path, class: 'btn btn-primary'
- if @showcase_project.present?
  = render partial: 'showcase', locals: { project: @showcase_project }
%ul.unstyled
  = render @projects