//= require bootstrap
//= require_self
//= require_tree 

$break: 720px;
@media all and (max-width: $break) {
.logowrap, .navwrap, .brand, nav {
	width: 100%
	}
.logowrap {
	margin-left: 0
	}
.nav_logo_wrap {
	margin: 0 auto;
	text-align: center
	}
ul.nav {
	text-align: center;
	}
}
.navwrap > li {
	display: inline-block;
	width: 2em;
	}
.navbar {
	background: url(/images/mp_bg_dragon.png) no-repeat;
	background-color: #3d444f;
	background-position: top right;
	border-bottom: 1px solid #7b4f4f
	}
.brand {
	padding-right: 30px;
	text-align: center
	}
#logo_image {
	height: 190px;
	width: 283px 
	}
.navbar-text {
	width: 100%;
	text-align: right
	}
ul.nav ul,
ul.nav li,
ul.nav span,
ul.nav a {
  margin: 0;
  padding: 0;
  position: relative
}
ul.nav {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom: 2px solid #7b4f4f
}
ul.nav a {
  color: #ffffff;
  display: inline-block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 0 30px;
  text-decoration: none
}
ul.nav ul {
  list-style: none;
  display: inline-block
}
ul.nav > ul > li {
  float: left;
  color: #ffffff;
  width: 100%
}
ul.nav > li > a {
  color: #ffffff !important;
  text-shadow: none !important;
  font-size: 1em;
}
ul.nav > li > a:hover {

}
.login {
	position: absolute;
	top: 0;
	right: 15px
	}
